<p>Prezado organizador da conferência {{conference.title}},</p>
<p>O trabalho {{cfwork.title}} foi enviado.</p>

<p>Para visualizar o trabalho clique no link: <a href="{{site.url}}{{cfworkAdminUrl}}">{{site.url}}{{cfworkAdminUrl}}</a> </p>